.main__text {
  font-size: @fs-small;
  line-height: @lh-large;
  font-weight: @fw-normal;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @fs-medium;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.main__span {
  @media (max-width: @tablet-width) {
    display: none;
  }
}
