.panorama {
  padding: 10px 0;
}

.panorama__headline {
  font-size: @fs-small;
  line-height: @lh-large;
  text-align: center;
  font-weight: @fw-normal;
  color: @txt-dark;
  margin: 56px 15px;

  @media (min-width: @tablet-width) {
    font-size: @fs-medium;
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.panorama__image-wrap {
  position: relative;
  line-height: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.panorama__image-text {
  background-color: @bg-red;
  color: @txt-white;
  text-transform: @txt-upper;
  font-size: @fs-xs;
  line-height: @lh-medium;
  font-weight: @fw-bold;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  right: 20px;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.panorama__massage {
  background-color: @bg-grey;
  padding: 15px 17px;
  margin: 0;
}

.panorama__name {
  font-size: @fs-small;
  line-height: @lh-medium;
  font-weight: @fw-bold;
  color: @txt-dark;
  margin: 0 auto;
}

.panorama__time {
  font-size: @fs-xs;
  line-height: @lh-medium;
  font-weight: @fw-light;
  color: @txt-dark;
  text-transform: @txt-upper;
  margin: 0 auto;
}

.panorama__text {
  font-size: @fs-small;
  line-height: @lh-medium;
  color: @txt-dark;
  margin: 0 auto;
}

.panorama__likes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.panorama__icon {
  fill: @fill-red;
  margin-right: 19px;
}

.panorama__likes-text {
  font-size: @fs-xs;
  line-height: @lh-medium;
  text-transform: @txt-upper;
  color: @txt-red;
}
