.social {
  padding: 0;
}

.social__list {
  list-style: none;
  display: grid;
  width: max-content;
  grid-template-columns: repeat(3, 54px);
  gap: 4px;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  @media (min-width: @tablet-width) {
    gap: 8px;
  }
  @media (min-width: @desktop-width) {
    gap: 5px;
  }
}

.social__item {
  display: block;
}

.social__link {
  display: block;
  border: 3px solid fade(@fill-grey, 10%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: @fill-red;


  &:hover {
    border: 3px solid @fill-grey;
    opacity: none;
  }

  &:active {
    opacity: 0.1;
  }
}
