.upload__background {
  margin-bottom: 40px;
  background-color: @bg-grey;

  @media (min-width: @desktop-width) {
    margin-bottom: 98px;
    background-color: @bg-white;
  }
}

.upload__wrapper {
  .container ();
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 50px;
    background-color: @bg-grey;
  }
}

.upload__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: @fs-small;
  line-height: @lh-large;
  font-weight: @fw-normal;
  font-style: normal;
  color: @txt-dark;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
    font-size: 18px;
  }
}

.upload__post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: @ff-main;

  font-size: @fs-medium;
  font-weight: @fw-bold;
  line-height: @lh-small;
  text-decoration: none;
  color: @txt-red;
  border: @border-3red;
  box-sizing: border-box;
  border-radius: 30px;

  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    height: 55px;
    margin: 10px;
    margin-left: 5px;
  }
}

.upload__post:hover {
  color: @txt-white;
  background-color: @bg-red;
}

.upload__post:active {
  color: @trst-white;
}

.upload__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  font-family: @ff-main;

  font-size: @fs-medium;
  font-weight: @fw-bold;
  line-height: @lh-small;
  text-align: center;
  opacity: 0.1;
  border: @border-3dark;
  box-sizing: border-box;
  border-radius: 30px;

  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    height: 55px;
    margin: 10px;
  }
}

.upload__reset:hover {
  opacity: 0.3;
}

.upload__reset:active {
  background-color: @bg-dark;
  color: @trst-white;
  opacity: 0.3;
}

.upload__section {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 36px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-right: 0;
  }
}

.upload__buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: @tablet-width) {
    gap: 12px;
    margin-bottom: 50px;
    margin-left: 28px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 425px;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
}

.upload__img {
  padding-top: 20px;
  padding-bottom: 38px;

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 0;
  }
}

.upload__img img {
  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.upload__tools {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 69px;

  @media (min-width: @desktop-width) {
    justify-content: start;
    margin-top: 53px;
    padding-bottom: 150px;
  }
}
